{% extends "home.html" %}

{% block content %}

<button><a href="{% url 'crear_curso' %}">agregar curso</a></button>
<h2>Lista de Cursos</h2>
<ul>    
    {% for curso in cursos %}
    <tr>
            <td>{{ curso.codigo }}</td>
            <td>{{ curso.nombre }}</td>
            <td>
                <a href="{% url 'eliminar_curso' curso.codigo %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
    {% empty %}
        <li>No hay cursos disponibles.</li>
    {% endfor %}
{% endblock content %}